.appContainer {
  display: flex;
  background-color: #112135;
  justify-content: space-between;
  flex-direction: column;
  background-image: url("../src/assets/bg_2.png");
  background-repeat: no-repeat;
  background-position: top;

  &__navBar {
    background-color: #18283c;
    display: flex;
    padding: 10px 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1920px;
    width: 100%;
    text-align: center;
  }
}

.navItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.rangeFilter {
  cursor: pointer;
  padding: 5px 25px;
  border-radius: 25px;
  border: 2px solid rgb(74, 93, 115);
  color: rgb(74, 93, 115);
}

.filterActive {
  background-color: #18283c;
  border: 2px solid white;
  color: white;
}

.mainContentWrapper {
  display: flex;
  flex-direction: column;
  padding: 50px 20px 0 20px;
  row-gap: 20px;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.titleFont {
  color: white;
  font-size: 50px;
  letter-spacing: 0.5px;
}

.mainFont {
  color: #4a5d73;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 0.5px;
}

.dataFont {
  color: white;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 0.5px;
}

.circleLogoWrapper {
  color: #112135;
  background-color: #4a5d73;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 30px;
}

.circle {
  border-radius: 30px;
  height: 22px;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 22px;
  border: 2px solid #112135;

  &__font {
    font-size: 12px;
    font-weight: bold;
    color: #112135;
  }
}

.rangeWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  flex-wrap: wrap;
  row-gap: 10px;
  padding-bottom: 20px;
}

.botBoxWrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  row-gap: 5px;
  background-color: #1b293e;
  height: 28vw;
  width: 28vw;
  border-radius: 10px;
  transition: 0.3s;

  &:hover {
    background-color: #283959;
  }
}

.botActive {
  background-color: #2e4167;
}